
#calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    margin: 50px auto;
    padding: 20px; 
    background-color: #F9C5D5;
    border: solid #F2789F;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



.button-row {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
    background-color: #F9C5D5;
    padding: 0 10px;
    
}

#first-row {
    padding-top: 10px;
}

.button-row button {
    flex: 1 1 25%;
    background-color: #F999B7;
    margin: 5px;
    border-radius: 20px;
    border: 2px solid #F2789F;
    font-size: 25px;
    color: #3f0316;
    
}

#display {
    height: 120px;
    width: 100%;
    background-color: #FEE3EC;
    border-radius: 10px;
    border: inset 2px #F2789FA1;
}

#display p {
    text-align: right;
    padding: 15px 15px;
    font-size: 50px;
    outline: inset #F2789F42;
    margin: 10px;
    border-radius: 10px;
    height: 70px;
    line-height: 79px;
    color: #3f0316;
}

.button-row button.operator, #equals {
    background-color: #F2789F;
    border: 2px solid #EE5788;
}