
#calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    margin: 50px auto;

}

.button-row {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    
    background-color: rgba(231, 176, 236, 0.596);


}

.button-row button {
    flex: 1 1 25%;
    background-color: rgba(231, 176, 236, 0.281);
    margin: 5px;
}

#display {
    height: 60px;
    width: 100%;
    background-color: rgba(231, 176, 236, 0.281);
}

#display p {
    text-align: right;
    padding: 8px 15px 8px;
}